<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>每刻业务组件</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">   
</head>
<body>
    <div>maycur business components</div>
</body>
</html>